<div class="text-center">
<h2 class="bg-warning">ユーザー登録フォーム</h2>
<%= form_for @user do |f| %>
  <p>
  <%= f.label :name, "名前" %>
  <%= f.text_field :name %>
  </p>
  <p>
  <%= f.label :email, "メールアドレス" %>
  <%= f.email_field :email %>
  </p>
  <p>
  <%= f.label :password, "パスワード" %>
  <%= f.password_field :password %>
  </p>
  <button type="submit" class="btn btn-primary" method="POST">
  登録
  </button>
<% end %>
<a href="/">topへ戻る</a>
</div>