<%=form_tag("/posts/create") do%>
<input type="text" name="word" placeholder="単語を入力">
<input type="text" name="meaning" placeholder="意味を入力">
<input type="submit" value="送信">
<% end %>
<% if @error_message%>
 <div class="form-error">
  <%= @error_message%>
 </div>
<%end%>
<div class="container">
  <% @words.each do |i| %>
    <div class=post-index-word>
      <%=i.word%>
      <%=i.meaning%>
      <%=i.judge%>
      <%=link_to("〇","/posts/#{i.id}/correct",{method:"post"})%>
      <%=link_to("×","/posts/#{i.id}/mistake",{method:"post"})%>
      <%=link_to("削除","/posts/#{i.id}/destroy",{method:"post"})%>
    </div>
  <% end %>
  <%=link_to("更新","/posts/update")%>
  <a href="/">トップに戻る</a>
</div>