
<div class="index">
  <div class="word-form">
    <h2 class="heading">単語の登録</h2>
    <%=form_tag("/posts/create") do%>
    
    <div class="col">
      <input type="text" name="word" placeholder="単語を入力">
    </div>
    <div class="col">
      <input type="text" name="meaning" placeholder="意味を入力">
    </div>
    <button type="submit" class ="btn btn-primary">登録する</button>
    
    <% end %>
  </div>
  <table class="container">
    <h2 class="heading">単語一覧</h2>
      <tr>
        <th>単語</th>
        <th>意味</th>
        <th>正誤</th>
        <th>正解</th>
        <th>不正解</th>
        <th>削除</th>
        <th>編集</th>
      </tr>
  <% @words.each do |i| %>
    <div class=post-index-word>
      <tr>
        <td><%=i.word%></td>
        <td><%=i.meaning%></td>
        <td><%=i.judge%></td>
        <td><%=link_to("〇","/posts/#{i.id}/correct",{method:"post"})%></td>
        <td><%=link_to("×","/posts/#{i.id}/mistake",{method:"post"})%></td>
        <td><%=link_to("削除","/posts/#{i.id}/destroy",{method:"post"})%></td>
        <td><%=link_to("編集","/posts/#{i.id}/edit")%></td>
      </tr>
    </div>
  <% end %>
  </table>
  <a href="/">トップに戻る</a>
</div>